

@mixin button { border: 1px;
                padding: 8px;
                width: 140px;
                border-radius: 15px;
                cursor: pointer;
                
              }


        


